:root {
--font-base: 'IBM Plex Sans Arabic', sans-serif;
}

[data-theme='light']{
  --color-green: #75dab4;
  --color-dark: #000;
  --color-white: #fff;
  --color-p:#c8c8c8;
  --color-nav:#0c0f16;
  --bg-dark: #141414;
--bg-body-dark:#0c0f16;

}
[data-theme='dark']{
	  --color-green: #75dab4;
  --color-dark: #000;
  --color-white: #fff;
  --color-p:#c8c8c8;
  --color-nav:#0c0f16;
  --bg-dark: #141414;
--bg-body-dark:#0c0f16;
}